<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection Valuation</title>
    <base href="/">
    <link rel="icon"  type="image/ico" href="img/logo-modal.png"> <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/mystyle-coman.css" rel="stylesheet">
    <link href="css/media.css" rel="stylesheet">
      <link href="css/admin-style.css" rel="stylesheet">

</head>

<body>
    <div id="wrapper">
      <!-- log in html -->
       <div class=" coman-modal coman-modal-a" id="sign-in">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <form action="admin/reset-password" method="POST">
                <div class="modal-content  text-center">
             <img src="img/logo-modal.png" alt="">
             <h2>Forgot Password</h2>
             <p>Don't remember your password? No worries.
                 It happens with everyone. Just enter your registered email address and we will send you a link to reset
                 password. </p>
                 <% if(error) { %>
                   <div class="alert alert-danger alert-dismissible " role="alert">
                     <strong><%=error%></strong> 
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                     </button>
                   </div>
                
                 
                  <% } %>
                
      
                <div class="form-group pass-word">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                       <input type="email" name="email" class="form-control" placeholder="Enter email">
                      </div>
                      <button type="submit" class="btn btn-primary">SUBMIT</button>
      
                   
                  </div>
            </form>
                         
         
    </div>
    </div>
  </div>

  
    <!-- log in html -->
        </div>
   
<!-- forgot password -->


    <!-- Mainly scripts -->
    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/inspinia.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="js/plugins/pace/pace.min.js"></script>

    

</body>
</html>
